.advantages {
  display: flex;
  flex-direction: column;

  padding: 0 20px;
}

.advantages__title {
  font-size: 36px;
  font-weight: normal;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0;

  list-style: none;
}


.advantages__item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  width: 280px;
}

.advantages__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  margin-right: 20px;

  width: 60px;
  height: 60px;

  background-color: #68b738;
}

.advantages__text {
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: @tablet-width) {

  .advantages__title {
    font-size: 60px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 75px;
    width: 245px;
    height: 230px;

    background-repeat: no-repeat;
    background-position: 120px;

    &--1 {
      background-image: url(../img/1@1x.png);
    }
    &--2 {
      background-image: url(../img/2@1x.png);
    }
    &--3 {
      background-image: url(../img/3@1x.png);
    }
    &--4 {
      background-image: url(../img/4@1x.png);

    }
  }

  .advantages__text {
    margin-top: 40px;
    width: 215px;
  }
}
